@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared style */
.section-title{
    font-size: 2.8rem;
    font-weight: bold;
}
    .display-flex{
        display: flex;
    }
    /* dark-1 */
    .text-light-gray-2{
        color: #131313;
        
    }
    /* dark-2 */
    .text-gray{
        color: #424242;
    }
    /* dark-3 */
    .text-light-gray{
        
        color:#727272;
        font-size: 16px;
        font-weight: 400;
        
    }
    .dark-3{
        color: #727272;
    }
    .quick-list{
        color: #FF900E;
    }
    .bg-light{
        background-color: rgba(255, 144, 14, 0.1);
    }
    .btn-primary{
        background-color: #FF900E;
        color: white;
        padding: 21px 24px 20px 25px;
        font-weight: 600;
        font-size: 1.25rem;
        border-radius: 8px;
        border: none;
      
    }
    main{
        max-width: 1440px;
        margin: 0 auto;
    }
    main > section{
        margin-top: 130px;
        margin-left: 100px;
        margin-right: 100px;
    }
/* header style */

/* navbar style */
.navbar{
    justify-content: space-around;
    align-items: center;
}
.brand{
    font-size: 3rem;      /*1rem=16px amra rem use korbo because jokhon responsibe korbo tokkon text easily tar fon size nibhe*/
    font-weight: bold;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner related style */
.banner-content{
    max-width: 862px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 64px;
    font-weight: bold;
}
.banner-description{
    font-weight: 400;
    font-size: 16px;
}
.banner-image{
    width:100%;
    margin: 0 auto;
    
}
/* feature of team work image */
.teams{
    gap: 73px;
    align-items: center;
   
}
.team-image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.team-feature{
    max-width: 530px;
}
/* enjoy and feature related style */
#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left:-100px;
    margin-top: -100px;
}
#experience-year{
     color: white;
     font-size: 4rem;
     font-weight: 700;
}
.feature{
    gap: 120px;
}
#feature-section-title{
    border-left:5px solid #FF900E;
    padding-left: 21px;
    
}
.feature-card{
    padding: 30px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 16px;
    border-radius: 8px;
    
}
.feature-card .text-decoration{
    color: #131313;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
 

/* some facts */

.some-fact{
    display: grid;
    grid-template-columns: repeat(4,1fr);
   
}
.fact-card{
    border: 1px solid rgba(255, 144, 14, 1);
    border-radius: 8px;
    width: 240px;
    height: 240px;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* padding: 30px; */
   
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}    
.fact-name{
    font-size: 20px;
    font-weight:  600;
}
.fact-discription{
    max-width: 540px;
    margin-bottom: 100px;
}
 /* sponsor related style */
 .sponsor-info{
    text-align: center;
    max-width: 540px;
    margin: 50px auto;
 }
 .sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
 }
 .sponsor-companies img{
    filter: grayscale(100%);
     
 }
 /* footer related style */
 footer{
    background-color: rgba(255, 244, 231, 1);
    margin-top: 130px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    margin-bottom: 216px;
    border-radius: 8px;
 }
 .footer-text{
    font-size: 1.25rem;
    font-weight: 400;
    padding-top: 39px;
    padding-bottom: 39px;
 }
  
/* responsive of small device */
@media screen and (max-width:576px) {
    main > section {
        margin-top: 130px;
       margin-left: 0px;
       margin-right: 0px;
    }
    .navbar, .nav-links,.teams,.feature{
        flex-direction: column;
    }
    .banner-image{
        width: 100%;
        margin: 0 auto;
    }
    .team-image-container,.some-fact,.sponsor-companies{
        grid-template-columns: repeat(1,1fr);
    }
    .btn-primary{
        background-color: #FF900E;
        color: white;
        padding: 15px 20px 16px 21px;
        font-weight: 600;
        font-size: 0.8rem;
        border-radius: 8px;
        border: none;
      
    }
    .team-feature{
         padding-left: 12px;
    }
    /* some facts */
    .some-fact,.sponsor-companies{
        justify-content: center;
        gap: 40px;
    }
    .feature-architect img{
        width: 100%;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
    .sponsor-companies{
         margin-left: 105px;
    }
    .fact-card{
        margin-left: 64px;
    }
    footer {
        background-color: rgba(255, 244, 231, 1);
        margin-top: 90px;
        text-align: center;
        margin-bottom: 116px;
        border-radius: 8px;
        margin-left: 5px;
        margin-right: 5px;
    }
}
/* responsive of medium device */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams, .nav-item, .navbar,.feature{
         flex-direction: column;
    }
    .some-fact{
        grid-template-columns: repeat(2,1fr);
        gap: 70px;
    }
    .sponsor-companies{
        grid-template-columns: repeat(3,1fr);
        gap: 30px;
    }
    #experience-badge{
        margin-top: 14px;
        margin-left: 154px;
    }
    .feature-architect img{
        width: 100%;
    }
    .footer-text{
        padding-left: 98px;
        padding-right: 68px;
    }
}